*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Asignamos las propiedades a nuestro container para que sea responsive*/
.container{
  position: relative;
  height: 100vh;
}
/*Ahora le aplicamos el css a nuestro video*/
.video-container{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.video-container video{
  position: relative;
  top: 50%;
  left: 50%;
  object-fit: cover;
  width: 100%;
  transform: translate(-50%, -50%);
}
/*estilos al header*/
.header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 85px;
  padding: 5px 10%;

}
.header .logo{
  cursor: pointer;
  margin-right: auto;
}

.header .logo img{
  height: 70px;
  width: auto;
  transition: all 0.3s;
}

.header .logo img:hover{
  transform: scale(1.2);
}

.header .nav-links{
  list-style: none ;
}

.header .nav-links li{
  display: inline-block;
  padding: 0 20px;
}

.header .nav-links li:hover{
  transform: scale(1.1);
}

.header .nav-links a{
  font-size: 700;
  color: red;
  text-decoration: none;
}

.header .nav-links li a:hover{
  color: black;
}

.header .btn button{
  margin-left: 20px;
  font-weight: 700;
  color: red;
  padding: 9px 25px;
  background: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.header .btn button:hover{
  background-color: blueviolet;
  color: aqua;
  transform: scale(1.1);
}